  .campo-salario,
  .campo-taxa-abaixo,
  .campo-taxa-vol-abaixo,
  .campo-taxa-acima,
  .campo-taxa-vol-acima {
    border:none;
    outline:none;
    text-align:right;
    width:107px;
    height:25px;
  }

  .container-vol-abaixo,
  .container-vol-acima {
    display: contents;
  }

  .ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background: rgb(243, 124, 32) !important;
    border: 0px !important; 
    position: absolute;
    top: -10px !important;
    cursor: pointer !important;
  }

  .ui-slider {
    background-color: #ccc;
    border-radius: 5px;
    height: 3px;
    width: 100%;
  }

  .tt, .tt-vol, .tt-vol-abaixo {
    width: 98%;
  margin-left: 2%;
  }

  .slider-bloco {
    width: 195px;
  }

  @media screen and (max-width: 479px) {
    .slider-bloco {
      margin: 15px 0;
    }
  }
